DATABASE_URL="postgresql://postgres:password@localhost:5432/localfm"
REDIS_URL="redis://localhost:6379"
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"
BETTER_AUTH_SECRET=""
