PORT=3001
DATABASE_URL="postgresql://postgres:password@localhost:5432/localfm?schema=public"
REDIS_URL="redis://localhost:6379"
FRONTEND_URL="http://127.0.0.1:3000"

# BetterAuth
BETTER_AUTH_SECRET="your-secret-here"
BETTER_AUTH_URL="http://127.0.0.1:3000" # Your frontend URL in local dev

# Spotify OAuth
SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"
